STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_GATEWAY_GRPC_PORT=50052
STELLAR_GATEWAY_HTTP_PORT=8001
STELLAR_SIGNING_KEY=
IBC_CONTRACT_ID=
TRANSFER_CONTRACT_ID=